.gary-gruver-wrapper
  %section.home-splash.fourth-fastest.flex-container.full-width
    .hero-image-container
      %a.hero-image-link.hero-cta.hero-gary-gruver-image{ href: "/resources/scaling-enterprise-devops/" }
        %img.hero-image{ src: "/images/webcast/gruver-cover_2x.jpg", alt: "Gary Gruver cover image jpg" }
    .hero-container.flex-container.flex-column.full-width.justify-center
      %a.hero-title.hero-cta.hero-gary-gruver-title{ href: "/resources/scaling-enterprise-devops/" }
        %h1
          Starting and Scaling DevOps in the Enterprise
      %p.hero-description
        Sharing his pioneering insight on how organizations can transform their software development and delivery processes, Gary Gruver provides a tactical framework to implement DevOps principles.
      %a.btn.cta-btn.accent.hero-cta.hero-gary-gruver-button{ href: "/resources/scaling-enterprise-devops/" }
        Download the book
