.forrester-waves-container

  <!–– Forrester CI ––>
  .forrester-wave-row
    .wave-row-content
      %img.forrester-wave-graphic{ src: "/images/analysts/ci-thumb.png", alt: "GitLab ci cd forrester wave thumbnail png" }
    .wave-row-content
      %img.forrester-logo{ src: "/images/home/forrester-logo.png", alt: "Forrester logo png" }
      .text-center.forrester-graphic-title
        %p CI Wave Report
      %p “GitLab supports development teams with a well-documented installation and configuration processes, an easy-to-follow UI, and a flexible per-seat pricing model that supports self service. GitLab’s vision is to serve enterprise-scale, integrated software development teams that want to spend more time writing code and less time maintaining their tool chain.”
      %a.btn.cta-btn.accent.margin-top20.reports-include-button-ci{ href: '/analysts/forrester-ci/' } Read more

  <!–– Gartner EAPT ––>
  .forrester-wave-row
    .wave-row-content
      %img.forrester-wave-graphic{ src: "/images/analysts/gartner-eapt-mq-2019.jpg", alt: "Gartner magic quadrant graphic" }
    .wave-row-content
      %img.gartner-logo{ src: "/images/home/gartner-logo.svg", alt: "Gartner logo svg" }
      .text-center.forrester-graphic-title
        %p EAPT Report
      %p Gartner Cites GitLab as a Visionary in MQ for EAPT.
      %a.btn.cta-btn.accent.margin-top20.reports-include-button-aro{ href: '/analysts/gartner-eapt/' } Read more

  <!–– Forrester VSM ––>
  .forrester-wave-row
    .wave-row-content
      %img.forrester-wave-graphic{ src: "/images/analysts/vsm-thumb.png", alt: "GitLab vsm forrester new wave thumbnail png" }
    .wave-row-content
      %img.forrester-logo{ src: "/images/home/forrester-logo.png", alt: "Forrester logo png" }
      .text-center.forrester-graphic-title
        %p VSM Report
      %p GitLab is a "Strong Performer" in The Forrester New Wave: Value Stream Management Tools, Q3 2018. According to the report, “GitLab combines end-to-end capability with the power of open source. GitLab offers a DevOps tool for each step of the software development process. Top-level views sitting across these tools provide its VSM functionalities."
      %a.btn.cta-btn.accent.margin-top20.reports-include-button-vsm{ href: '/analysts/forrester-vsm/' } Read more

  <!–– Gartner ARO ––>
  .forrester-wave-row
    .wave-row-content
      %img.forrester-wave-graphic{ src: "/images/home/gartner-aro-graph.png", alt: "Gartner magic quadrant graphic png" }
    .wave-row-content
      %img.gartner-logo{ src: "/images/home/gartner-logo.svg", alt: "Gartner logo svg" }
      .text-center.forrester-graphic-title
        %p ARO Report
      %p Gartner Cites GitLab as a Niche Player in MQ for ARO.
      %a.btn.cta-btn.accent.margin-top20.reports-include-button-aro{ href: '/analysts/gartner-aro/' } Read more

  <!–– Forrester CDRA ––>
  .forrester-wave-row
    .wave-row-content
      %img.forrester-wave-graphic{ src: "/images/analysts/forrester-cdra-cover.jpg", alt: "Forrester wave graphic" }
    .wave-row-content
      %img.gartner-logo{ src: "/images/home/forrester-logo.png", alt: "Forrester logo png" }
      .text-center.forrester-graphic-title
        %p CDRA Report
      %p GitLab received high marks from users for providing a unified environment for product owners and developers as well as a single pane of glass across the CD pipeline.
      %a.btn.cta-btn.accent.margin-top20.reports-include-button-aro{ href: '/analysts/forrester-cdra/' } Read more

  <!–– Forrester SCA ––>
  .forrester-wave-row
    .wave-row-content
      %img.forrester-wave-graphic{ src: "/images/analysts/forrester-sca-report.png", alt: "Forrester wave graphic" }
    .wave-row-content
      %img.gartner-logo{ src: "/images/home/forrester-logo.png", alt: "Forrester logo png" }
      .text-center.forrester-graphic-title
        %p SCA Report
      %p GitLab has aggressively built its security functionality in a short amount of time and has an aggressive road map for additional features. “ (direct quote from Wave report)
      %a.btn.cta-btn.accent.margin-top20.reports-include-button-aro{ href: '/analysts/forrester-sca/' } Read more


  <!–– IDC Innovator ––>
  .forrester-wave-row
    .wave-row-content
      %img.forrester-wave-graphic{ src: "/images/logos/idc-innovator.png", alt: "IDC innovator 2018 graphic png" }
    .wave-row-content
      %img.idc-logo{ src: "/images/home/idc-logo.svg", alt: "IDC logo svg" }
      .text-center.forrester-graphic-title
        %p IDC Innovators Report
      %p Learn why GitLab was chosen as an IDC Innovator, including an overall assessment, key differentiators, challenges in the market, and related research.
      %a.btn.cta-btn.accent.margin-top20.reports-include-button-idc{ href: '/analysts/idc-innovators/' } Read more
